{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {# {% if app.user %}
    {% include 'components/_chatBubble.html.twig' with {'users': users} %}
    {% endif %} #}

<section>
{% if app.flashes('success') %}
    {% for message in app.flashes('success') %}
        <div class="flash-success" style="display:none;">{{ message }}</div>
    {% endfor %}
{% endif %}

    <header class="homepage">
        <div class="overlay1"></div>
        <div class="headerBg">
        </div>
        <h1>Mina Louve votre Doulà</h1>
    </header>
    <div class="adminProfil">
        <div class="adminPhoto">
            <img src="{{ asset('images/portraitMina.jpg') }}" alt="">
        </div>
        <div class="adminAbout">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem delectus velit atque? Repudiandae dolorem, vel adipisci aliquid a at voluptate natus enim harum nihil! Doloremque quis perspiciatis rerum! Ratione officia impedit nemo voluptates incidunt, iusto, vel modi dolorem delectus amet ad, eum a beatae esse! Ab, esse facilis, doloribus dicta aliquam quibusdam ullam aspernatur totam maiores, ipsam natus cupiditate. </br>Delectus sunt architecto iure doloremque, rem dolorem explicabo. Eos quia soluta est optio fugit minus rerum qui consequuntur! Adipisci, perferendis molestias vero quisquam cupiditate cum debitis, voluptate nihil esse recusandae veniam quasi ad voluptates, id veritatis at ratione deserunt ut. Quia fuga facilis corrupti suscipit laborum magnam sint ipsam quos! Numquam dolorum nulla, velit, sunt esse explicabo maiores quod in possimus officia reiciendis.</p>
        </div>
    </div>
    <div class="activity">
        <div class="overlay2"></div>
        <div class="bgFixed">
        </div>        
    </div>
    <div class="benefits">
        <div class="details">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, assumenda. Tenetur necessitatibus cumque error mollitia molestias facere perspiciatis neque adipisci quia exercitationem voluptas quibusdam vitae labore amet unde, quae illo vel repudiandae culpa atque voluptatem earum tempora eum! Molestias, optio recusandae magni accusamus, quaerat ut eius velit voluptatum officia similique beatae nulla?</p>
        </div>

        {{ include('comment/show.html.twig') }}
    </div>
</section>
{% endblock %}
