<form class="serviceDeleteForm" method="post" action="{{ path('app_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette prestation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="serviceDeleteBtn">Supprimer</button>
</form>
