{% extends 'base.html.twig' %}

{% block title %}Modifier une prestation{% endblock %}

{% block body %}
<section class="changeService">
        <h1>Modifier une prestation</h1>
    
        {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}
    
        <div class="grp">
            <a href="{{ path('app_service_index') }}">Retour à la liste de vos prestations</a>
        </div>
</section>
{% endblock %}
