{% extends 'base.html.twig' %}

{% block title %}Ajouter une prestation{% endblock %}

{% block body %}
<section class="newService">
    <h1>Ajouter une prestation</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('app_service_index') }}">Retourner à la liste de vos prestations</a>
</section>
{% endblock %}
