{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<section>
    <div class="serviceContainer">
        <div class="serviceBgcImg">
            <h1>{{ service.name }}</h1>
        </div>
                
        <div class="serviceBloc">
            <img src="../images/meditation.jpg" alt="">
            <p>{{ service.description }}</p>    
        </div>
    </div>
    <div class="commentsContainer">
        {{ include('comment/show.html.twig') }}
    </div>
</section>

{% endblock %}
