        <div class="containerCard ">
        {% for comment in comments %}      
            <div class="cardComment aos-comment" data-aos-duration="2000">
                <h3 class="commentAuthor"> {{ comment.user.getFirstName() }}   </h3>
                <p>le {{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</p>
              
                <p class="commentTitle">{{ comment.title }}</p>
                <p>{{ comment.content }}</p>
            </div>
         {% endfor %}
        </div>