
/* assets/styles/app.css */
*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HOMEPAGE
header */
header.homepage{
  width: 100%;
  height: 100vh;
  background-image: url("../images/vecteezy_female-hand-and-flower-in-water_11927403_767.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.overlay1{
  position: absolute;
  width: 100%;
  height: 102%;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}
header h1{
  font-size: clamp(40px, 5vw, 80px);
  width: 80%;
  color: blue;
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: #0b030a;
  margin: 250px 0 400px 0;
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
  position: absolute;
  text-align: center;
  overflow-wrap: break-word;
}

/* header */

/* Profile admin */
.adminProfil{
  width: 100%;
  margin: 80px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.adminPhoto{
  width: 40%;
}
.adminPhoto img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.adminAbout{
  width: 40%;
  text-align: center;
  margin-left: 60px;
  font-family: 'Itim', cursive;
}

/* Profile admin
Services details */
.activity{
  height: 300px;
}
.bgFixed{
  width: 100%;
  height: 100%;
  background-image: url("../images/vecteezy_lotus-flower-stone-background-illustration-ai-generative_23698733_536\ \(1\).jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-attachment: fixed;
}
.overlay2{
  position: absolute;
  width: 100%;
  height: 300px;
  background: rgba(0,0,0,0.4);
}

.details{
  margin: 60px;
}
.details h3{
  font-family: 'Lobster', cursive;
  padding: 70px 0;  
}
.details p{
  font-family: 'Itim', cursive;
  text-align: center;
}
.containerCard{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px 0;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex-grow: 1;
}
.cardService{
  color: aliceblue;
  width: 350px;
  background-color: #FF005A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  margin-top: 20px;
}
.cardService img{
  width: 120px;

}
.cardService h3{
  font-family: 'Lobster', cursive;
  padding: 10px 0;  
}
.cardService p{
  text-align: justify;
  color: aliceblue;
}
/*Services details*/
/* Carte services */



@media screen and (max-device-width: 833px) {
  .adminProfil{
    flex-direction: column;
  }
  .adminPhoto{
    width: 60%;
  }
  .adminAbout{
    width: 90%;
    margin: 25px 0;
    
  }
  
}

/* HEADER */
nav{
  width: 100%;
  display: flex;
  height: max-content;
  background-color: white;
  border-bottom: #FF005A solid 2px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.brandContainer{
  display: flex;
}
nav .brand{
  width: 50px;
  margin: 10px 0 5px 15px;

  flex-wrap: nowrap;
}
.brand img{
  width:100%;
}
.siteName{
  font-family: 'Norican', cursive;
  font-size: 30px;
  margin: 15px 10px;
  
}
nav .user {
  margin: 10px 15px 5px 15px;
  display: flex;
}
  
.user a{
  width: 40px;
  margin-left: 7px;
}

.user img{
  width:100%;
}

.navigation{
  margin: auto;
}
.navListLG{
  display: inline-flex;
  list-style-type: none;
  font-family: 'Itim', cursive;
  font-size: 20px;
  color: darkorchid;
  top: 50%;
}
      
.navListLG li:hover .modal{
  display: block;
  background-color: #fff;
}
.navListLG li{
  margin-left: 17px;
}
        
.navListLG a{
  text-decoration: none;
  color:black;
  font-family: 'Itim';
  font-size: 20px;
}

.navList a{
  text-decoration: none;
  letter-spacing: 3px;
  color:#210202;
  font-family: 'Itim';
  font-size: 20px;
} */
.navListLG .navItem a::after{
  content: "";
  display: block;
  height: 1.5px;
  width: 100%;
  background-color: rgb(10, 0, 0);
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
  }
  
.navListLG li a:hover::after{
    content: "";
    display: block;
    transform: scaleX(1);
  
  }


/* modal */


.navList li:hover .modal{
      display: block;
      background-color: #fff;
    }

.modal{
  position: absolute;
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;}
      
.modal ul li a{
  color: black !important;
}

.navList:hover ~.modal{
  display: block;
} 
.modal li{
  list-style-type: none;
}    





/* HEADER */

/* Affichage par service (service/show.html.twig) */
.serviceContainer{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serviceBgcImg h1{
  font-family: 'Norican';
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 300;
  line-height: 200px;

}
.serviceBgcImg{
  width: 100%;
  height: 200px;
  background-image: url("../images/orchidee.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-size: contain;
  background-attachment: fixed;
  z-index: -1;
}
.serviceBloc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}
.serviceBloc img{
  width: 45%;
  border-radius: 15px;
  box-shadow: -2px 3px 5px black;
}
.serviceBloc p{
  width: 50%;
  margin-left: 20px;
  padding: 10px;
  font-family: 'Itim';
  font-size: 20px;
  text-align: justify;
}

/* Affichage par service (service/show.html.twig) */

/*Formulaire de connexion*/
.bgcLogin{
  background-image: url('../images/vecteezy_lotus-flower-stone-background-illustration-ai-generative_23698733_536\ \(1\).jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 280px;
  width: 100%;
}
.blocPageConnexion{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0px;
}
.inscription{
  height: auto;
  padding: 10px;
  margin: 30px 0;
  border-radius: 15px;
  font-family: 'Itim';
}
.inscription h1{
  text-align: center;
  font-family: 'Norican', cursive;
  font-size: 32px;
  padding: 17px 0 10px 0;
  letter-spacing: 2px;
}
.blocPageConnexion form{
  height: auto;
  width: 40%;
  padding: 10px;
  margin: 30px 0;
  border-radius: 15px;
  box-shadow: -2px 3px 5px black;
}
.blocPageConnexion form h2{
  text-align: center;
  font-family: 'Norican', cursive;
  font-size: 32px;
  padding: 17px 0 10px 0;
  letter-spacing: 2px;
}
.blocPageConnexion form .inputGrp .form-control{
  margin: 7px 0px;
  width: 100%;
}
.loginForm .inputGrp label{
  display: block;
  font-family: 'Itim';
  font-size: 26px;
  width: 100%;
}
.regButton{
  box-shadow: -2px 3px 5px black;
  border-radius: 15px;
  padding: 3px 2px;
  color: blueviolet;
  margin: auto;
  display: flex;
  width: auto;
  margin: 22px 0px;
}
.regButton a{
  text-align: center;
  width: 100%;
  text-decoration: none;
}
.logButton{
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  padding: 5px 15px;
  color: blueviolet;
  margin-left: 75%;
  font-family: 'Itim';
}


/* RDV DETAILS */
.rdvDetails{
  width: 100%;
  height: 80vh;
  background-image: url('../images/vecteezy_female-hand-and-flower-in-water_11927403_767.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rdvBloc{
  width: 500px;
  height: auto;
  background-color: rgb(162, 233, 246);
  box-shadow: -2px 3px 5px black;
  border-radius: 15px;

}

.rdvBloc h1{
  text-align: center;
  width: 100%;
  font-family: 'Lobster';
  padding: 10px 0;
  background-color: #86067b;
  color: aliceblue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rdvBloc .date{
  font-family: 'Itim';
  margin: 15px 0 0 10px;
  font-size: 24px;
}

.rdvBloc .details{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 15px 0 20px 10px;

}

.rdvBloc .blocButton{
  display: flex;
  justify-content: space-evenly;
  top: 35px;
  margin-bottom: 20px;

}
.rdvBloc .blocButton form .btn{
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  padding: 5px 15px;
  color: rgb(249, 247, 251);
  background-color: blueviolet;
  border: none !important;

}
.blocButton a{
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  padding: 5px 15px;
  color: rgb(249, 247, 251);
  background-color: blueviolet;
  text-decoration: none !important;
}

/* Visualisation des Commentaires coté client */
.commentsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.commentCard{
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  padding: 20px;
  width: 75%;
  margin: 12px auto;
}
.commentCard a {
  margin-bottom: 12px;
}
.commentCard h4{
  font-family: 'Lobster';
  text-align: center;
  color:blueviolet;
  font-size: 24px;
}
.title{
  font-family: 'Lobster';
  text-align: center;
  font-size: 20px;
  color: #0b030a !important;
  margin: 12px 0;
}

.content{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  color: #0b030a !important;
  font-weight: 100;
  font-size: 14px;
  margin: 12px 0;

}

/* affichage des rdvs coté client */
.rdvsContainer a img{
  width: 40px;
}

.btn img{
  width: 40px;
  right: 167px;
position: absolute;
}

.rdvsContainer{
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Itim';

}
.rdvsContainer h1{
  font-family: 'Lobster';
  text-align: center;
  font-size: 32px;
  color: #0b030a !important;
  margin: 25px 0;

}
.rdvsContainer a{

  margin: 0px 75px 25px auto;

}
.rdvsContainer .rdvCard{
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  padding: 17px;
  width: 75%;
  margin: 12px auto;
}



.details{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  color: #0b030a !important;
  font-weight: 100;
  font-size: 14px;
  margin: 12px 0;

}

/* Espace administrateur */
.adminContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/orchidee.jpg');
  background-size: cover;
}
.adminContainer h1{
  font-family: 'Norican';
  margin-top: 25px;
}
.adminLinks{
  display: block;
  width: 75%;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
.adminLinks li{
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  padding: 17px;
  width: 100%;
  list-style-type: none;
  margin-top: 10px;
}
.adminLinks li a{
  text-decoration: none;
  color: #0b030a;
  font-family: 'Itim';
  font-size: 24px;
}

/* Formulaire d'enregistrement */

.registerContainer{
  width: 100%;
  height: auto;
  background-image: url(../images/orchidee.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;

}
.registerContainer h1{
  text-align: center;
  margin: 15px 0;
  font-family: "Lobster";
}
.registerBloc{
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: transparent;
  font-family: 'Itim';
}
.registerBloc form div:not(:nth-child(6)){
  display: flex;
  flex-direction: column;
} 
.registerBloc form div:nth-child(6){
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  width: auto;
}

.registerBloc form div input{
  margin-top: 5px;
}
.registerBloc form button{
  border: none;
  background-color: transparent;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  width: 120px;
  padding: 5px 0;
  margin: auto;
}
.registerBloc form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 495px;
}

/* Tableau de gestion des prestation proposé */
.servicesContainer{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Itim';
  background-image: url(../images/orchidee.jpg);
  background-size: cover;
  background-position: top;
}
.servicesContainer h1{
  font-family: 'Norican';
  letter-spacing: 3px;
  font-size: 42px;
}
.serviceList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.serviceList ul{
  padding: 8px;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  width: 80%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  width: 50%;
}
.serviceList ul li{

  padding: 5px;
  list-style-type: none;
  text-align: center;
}
.servicesContainer a img{
  width: 40px;
}
.serviceList ul li a img{
  width: 40px;
}

/* Liste des utilisateurs */
.userListContainer{
  width: 100%;
  height: auto;
}
.userList{
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.userList ul{
  padding: 8px;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  width: 400px;
  list-style-type: none;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #08f1ed;
  padding: 7px;
}

.brandContainer{
  display: flex;
}
footer .brand{
  width: 50px;
  margin: 10px 0 5px 15px;

  flex-wrap: nowrap;
}
footer .brand img{
  width:100%;
}
footer .brand span{
  font-family: 'Norican', cursive;
  font-size: 30px;
  margin: 15px 10px;  
}
footer ul{
  list-style-type: none;
}
footer ul li a{
  text-decoration: none;
  font-family: 'Itim';
  color: #1c1a1a;
}
footer ul li{
  font-family: 'Itim';
  color: #1c1a1a;
}

/* Formulaire de suppression */
.deleteForm .btn{
  border: none;
  cursor: none;
}
.deleteForm .btn img{
  cursor: pointer;
}

/* Formulaire d'ajout de commentaire */
.commentFormContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.commentForm{
  width: 100%;
  display: flex;
  justify-content: center;
}
.commentForm form{
  width: 320px;
  padding: 8px;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  margin: 25px;


}
.commentFormContainer h1{
  font-family: 'Lobster';
  text-align: center;
  font-size: 32px;
  padding: 26px;
}

.commentForm form input, .commentForm form label{
  font-family: 'Itim';
  width: 300px;
  margin: auto;
}
.commentForm form textarea{
  width: 300px;
  height: 200px;
}
form #comment{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newCommentBtn{
  padding: 3px 5px;
  background-color: #fff;
  color: #0b030a;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  font-family: 'Itim';
  font-size: 16px;
  margin: 10px 5px 10px 77%;
}
.rdvDeleteBtn{
  padding: 3px 5px;
  background-color: #fff;
  color: #0b030a;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  font-family: 'Itim';
  font-size: 16px;
  margin-left: 60%;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
}
/* Affichages de tous les commentaire coté admin */
.CommentAdminShowContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CommentAdminShowContainer h1{
  text-align: center;
  font-family: 'Lobster';
  font-size: 38px;
  margin: 20px 0;
}
.commentBlock{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.commentBlock ul{
  padding: 8px;
  background-color: #ef7de8;
  color: #0b030a;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  width: 87%;
  margin-top: 12px; 
  list-style-type: none; 
}
.commentAuthor{
  font-family: 'Norican';
  font-size: 26px;
}
.commentTitle{
  font-family: 'Itim';
  font-size: 22px;
  margin-bottom: 7px;
}
.commentContent{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.commentDeleteForm button{
  margin-left: auto;
  display: block;
  padding: 4px 7px;
  color: #0b030a;
  box-shadow: -1px 1px 2px rgb(85, 3, 94);
  border-radius: 15px;
  font-family: 'Itim';
  font-size: 18px;
  border: none;
  cursor: pointer;
}