<div class="calendarContainer">
  <div class="wrapper">
    <header>
      <p class="current-date">Juillet 2023</p>
      <div class="icons">
      <span class="material-symbols-rounded">chevron_left</span>
      <span class="material-symbols-rounded">chevron_right</span>
      </div>
    </header>
    <div class="calendar">
      <ul class="weeks">
         <li>Lun</li>              
         <li>Mar</li>              
         <li>Mer</li>              
         <li>Jeu</li>              
         <li>Ven</li>              
         <li>Sam</li>              
         <li>Dim</li>              
      </ul>
      <ul class="days">
        <li class="inactive">26</li>                       
         <li class="inactive">27</li>              
         <li class="inactive">28</li>              
         <li class="inactive">29</li>              
         <li class="inactive">30</li>              
         <li class="inactive">31</li>              
         <li>01</li>              
         <li>02</li>              
         <li>03</li>              
         <li>04</li>              
         <li>05</li>              
         <li>06</li>              
         <li>07</li>              
         <li>08</li>              
         <li>09</li>              
         <li>10</li>              
         <li>11</li>              
         <li>12</li>
         <li>13</li>              
         <li>14</li>              
         <li>15</li>              
         <li>16</li>              
         <li>17</li>              
         <li>18</li>              
         <li>19</li>              
         <li>20</li>              
         <li>21</li>              
         <li class="active">22</li>              
         <li>23</li>              
         <li>24</li>              
         <li>25</li>              
         <li>26</li>               
         <li>27</li>               
         <li>28</li>               
         <li>29</li>               
         <li>30</li>               
         <li>31</li>
         <li class="inactive">1</li>                 
         <li class="inactive">2</li>                 
         <li class="inactive">3</li>                 
         <li class="inactive">4</li>                 
         <li class="inactive">5</li>                              
      </ul>
    </div>           
  </div>
</div>