
<div id="chatBubble">
  <form id="message-form">
    <div class="form-group">
      {% if app.user %}
      <select id="query" name="query" required>
      <option value="" disabled selected>Sélectionner un utilisateur</option>
                {% for user in users %}
      <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
      </select>
      {% endif %}
    </div>
    <textarea id="message-content" placeholder="Entrez votre message..."></textarea>
    <input id="senderId" type="text" value="{{ app.user.getId() }}" hidden >

    <button id="submit">Envoyer</button>
  </form>
  <div class="chatRecipient"></div>
</div>

<script>
$(document).ready(function() {
    $('#query').select2({
        placeholder: "Rechercher un utilisateur",
        allowClear: true
    });
});



</script>