<form action="{{ path('app_user') }}" method="get">
    <div class="form-group">
        <label for="query">Rechercher un utilisateur par son nom, son prénom ou son email</label>
        <input type="text" id="query" name="query" required>
    </div>
    <button type="submit">Soumettre</button>
</form>
