{% extends 'base.html.twig' %}

{% block title %}Rdv index{% endblock %}

{% block body %}
<div class="rdvsContainer">
    <h1>Vos rendez-vous à venir</h1>
        <a href="{{ path('app_rdv_appointements') }}"><img src="../images/add.png" alt=""></a>
             {% for rdv in rdvs %}
        <div class="rdvCard">
        {{ include('rdv/_delete_form.html.twig') }}
   
            <h4>Vous avez rendez-vous le : {{ rdv.heureDebut ? rdv.heureDebut|date('Y-m-d H:i:s') : '' }}</h4>
            <p  class="details">Details de votre rendez-vous : {{ rdv.details }}</p>



        
        </div>
            {% endfor %}
 
</div>
{% endblock %}
