{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
<style>
.fc-slats td {
    height: 30px !important;
}

.fc * { 
    border: none !important; 
    font-family: 'Itim';
}
.fc {
  width: 100%;
  height: 520px;
}
 .fc-button {
  cursor: pointer;
  scale: 0.7;
}
.fc-event {
    cursor: pointer;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child){
    visibility: hidden !important;
}

@media screen and (max-width: 525px) {
   .fc{
    font-size: 10px !important;
  }
}



</style>
<div id="adminCalendar" data-events='{{ eventsJson|raw }}'></div>

<script>
    window.eventsData = {{ eventsJson|raw }};
</script>

{% endblock %}
